.bg {
  width: 100%;
  padding-top: 1.467rem;
  background: url(../img/regsuc/bg1.jpg) top center no-repeat;
  background-size: 100%;
}

.cong {
  width: 11.141rem;
  height: 3.437rem;
  margin: 0 0 0 1.141rem;
  background: url(../img/regsuc/congra.png) top center no-repeat;
  background-size: 100%;
}

.cong-text {
  width: 100%;
  margin: 0.4rem 0 0.726rem;
  padding: 0 1.304rem 0 1.215rem;
  font-size: 0.923rem;
  line-height: 1.427rem;
  color: #434343;
}

.cong-tips-bg1 {
  width: 14.578rem;
  height: 2.474rem;
  margin: 0 0.741rem 1.363rem 0.681rem;
  padding: 0.37rem 0 0 0.533rem;
  background: url(../img/regsuc/bg2-1.png) top center no-repeat;
  background-size: 100%;
  .cong-tips {
    width: 14.4rem;
    height: 2.444rem;
    padding: 0.281rem 1.407rem 0.281rem 0.504rem;
    background-color: rgba(255, 134, 115, 0.15);
    border-radius: 0.148rem;
    font-size: 0.533rem;
    line-height: 0.716rem;
    color: #484848;
  }
}

.giftbag {
  margin: 0 0.75rem 1.304rem ;
  background: #fff;
  border-radius: 0 0.296rem 0.296rem 0.296rem;
  box-shadow: 0 .2rem .6rem rgb(222, 164, 155);
  & &-hwr {
    padding: 0.163rem;
  }
  & &-header {
    position: relative;
    height: 4.889rem;
    background-color: #fff3f3;
    background-image: url(../img/regsuc/mb.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0rem 0.296rem 0rem 0rem;
    .ghat {
      position: absolute;
      top: -0.47rem;
      left: -0.163rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.348rem;
      height: 1.17rem;
      background: url(../img/regsuc/bg3.png) top center no-repeat;
      background-size: 100%;
      font-size: 0.622rem;
      font-weight: 600;
      line-height: 0.014rem;
      color: #ffffff;
    }
  }
  & &-body {
    padding: 0.444rem 0.741rem 0.77rem;
    .g-title {
      margin-bottom: 0.415rem;
      font-size: 0.622rem;
      font-weight: 600;
      letter-spacing: 0.031rem;
      color: #131313;
    }
    .g-price {
      margin-bottom: 0.667rem;
      font-size: 0.711rem;
      letter-spacing: 0.036rem;
      color: #ff3333;
      span {
        font-size: 0.474rem;
      }
    }
    .g-buy-btn {
      width: 100%;
      height: 1.333rem;
      margin-bottom: 0.696rem;
      line-height: 1.333rem;
      background-color: #ff3f3f;
      border-radius: 0.148rem;
      text-align: center;
      font-size: 0.533rem;
      color: #ffffff;
    }
    .giftbag-rich {
      font-size: 0.533rem;
      line-height: 0.8rem;
      color: #838383;
    }
  }
}

.d-app{
  width: 100%;
  height: 2.222rem;
  background-color: #eb3939;
  font-size: 0.622rem;
	line-height: 0.014rem;
	color: #fff;
}

@media screen and (min-width: 540px) {
  .page{
    width: 540px;
    margin: 0 auto;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(126, 87, 194, 0.4);
  }
}