.page>.page-header {
  position: relative;
  height: 1.925926rem;
  font-size: .740741rem;
  line-height: 1.925926rem;
  color: #ffffff;
  text-align: center;
  background: -webkit-linear-gradient(left, #3f4e70, #3f3a62);
  background: linear-gradient(to right, #3f4e70, #3f3a62)
}

.container {
  padding-bottom: 2rem;
}

.page-footer {
  position: fixed;
  bottom: 0;
  z-index: 200;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: #434272
}
